@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./bootsrap-override";

@import "./meteor";

body {
  padding-top: 68px;
  background: url("../img/jumbotron.jpg") no-repeat #000;
  color: #fff;
  // font-family: Helvetica, Tahoma, Arial, STXihei, “华文细黑”, Heiti, “黑体”, “Microsoft YaHei”, “微软雅黑”, SimSun, “宋体”, sans-serif;
  font-family: Helvetica, Tahoma, Arial, 微软雅黑, "Microsoft YaHei", "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;

  font-size: 14px;
}
.black-background {
  background-color: #000;
}
a {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
  }
}

.mb-300 {
  margin-bottom: 290px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-400 {
  padding-bottom: 400px;
}

.navbar {
  // height: 68px;
  background-color: rgba(#004667, .9);
  color: #fff;
}

ul.navbar-nav {
  padding-left: 80px;
  line-height:34px;
}

.navbar a.active {
  color: #fff;
}

.navbar a {
  color: #aaa;
}

.navbar a:hover {
  color: #fff;
  text-decoration: none;
}

.user-links {
  min-width: 100px;
  // float: right;
  line-height: 34px;
  padding-left: 20px;
}

.content {
  min-height: 1200px;
}

.jumb {
  padding: 15px 0;
  margin-bottom: 30px;
  min-height: 1120px;
}

.poster {
  margin-bottom: 140px;
}

.slogan {
  margin-top: 120px;
  width: 660px;
}

.slogan img {
  width: 100%;
}

.s-logo {
  width: 320px;
  display: table;
  margin: 30px auto 110px;
}

.s-logo img {
  width: 100%;
}

.big-button {
  padding: 12px 102px 14px;
  background-color: rgba(#0e4960, .9);
  border: 2px solid rgba(#fff, .75);;
  border-radius: 30px;
  color: #fff !important;
}

.big-button:hover {
  background-color: rgba(#105373, .5);
  border: 2px solid rgba(#fff, .5);
  color: #fff;
}

.ops {
  background-color: rgba(#041118, .63);
  position: relative;
}

.ops .row {
  padding: 12px 0 24px;
}

.ops .row-header {
  position: absolute;
  left: 0;
  top: 0;
  height: 58px;
  background-color: rgba(#041118, .63);
  width: 100%;
}

.groups {
  background: #000;
}

.image-container {
  max-width: 100%;
  width: 100%;
}

.shadowfilter {
  -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.8));
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.shadowfilter:hover {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}

.group {
  padding: 120px 0 80px 0;
}

.group-2 {
  margin-bottom: 40px;
}

.group-2 {
  margin-bottom: 140px;
}

.group-3 {
  margin-bottom: 140px;
}

.g1-txt {
  height: 330px;
}

.g1-img {
  height: 580px;
  margin-left: -220px;
  margin-top: -130px;
}

.g2-txt {
  height: 330px;
  margin-left: 65px;
}

.g2-img {
  height: 380px;
  margin-left: -180px;
  margin-top: -10px;
}

.g3-txt {
  height: 330px;
}

.g3-img {
  height: 580px;
  margin-left: -220px;
  margin-top: -130px;
}

footer {
  padding: 15px 0;
  color: #aaa;
  background-color: #000;
}

.download-links {
  padding: 25px 0;
  background-color: rgba(#46838b, .63);
}


.meteor-box {
  background-color: rgba(#fff, .1);
  padding: 25px;
  border: 2px solid #fff;
  border-radius: 15px;

  width: 100%;
  display: table;
  margin: 0 auto;

  &.selected {
    border-color: rgba(#34c0e3, .9);
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
  }

  &:hover {
    cursor: pointer;
    border-color: rgba(#34c0e3, .9);
  }
}

.navbar-collapse {
  .navbar-nav {
    padding-left: 20px;
  }
}

.navbar-toggle {
  padding-top: 11px;
  display: block;
}
button.navbar-toggle:focus {
  border: none !important;
  outline: none;
}


.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #888;
  margin-top: 4px;
}

@import "./recharge-page";
@import "./user-page";
@import "./download-page";
@import "./mobile-override";
@import "./table-override";