@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .slogan {
    width: 100%;
  }
  .poster {
    margin-bottom: 100px;
  }

  .g1-img {
    height: 420px;
    margin-left: -220px;
    margin-top: -30px;
  }

  .g1-txt {
    height: 300px;
  }

  .g2-img {
    height: 320px;
    margin-left: -150px;
    margin-top: -3px;
  }
  .g2-txt {
    height: 300px;
  }

  .g3-img {
    height: 360px;
    margin-left: -130px;
    margin-top: 0;
  }
  .g3-txt {
    height: 300px;
  }

  .group {
    padding: 60px 0 40px;
  }
  .group-1 {
    padding-top: 10px;
  }
  .group-2 {
    margin-bottom: 40px;
  }

  .download-des-1 {
    width: 263px;
  }
  .download-des-2 {
    width: 245px;
  }
  .download-des-3 {
    width: 241px;
  }

  .background-3 {
    padding-top: 20px !important;
    margin-bottom: 50px !important;
    background-size: 800px 600px;
    background-repeat: no-repeat;
    background-position: right -26px;
  }
}