//- layout.pug

//-var menuItems = [{ caption: '首页' }, { caption: '下载客户端' }, { 'caption': '充值' }]

block basetag
    -var base = '.'

doctype html

html(lang='zh-hans')
    head
        base(href='#{base}')
        block head
            title 多瑙音乐 - 欢迎
        link(rel='stylesheet', href='../css/style.css')
    body
        nav.navbar.navbar-toggleable-md.fixed-top
            div.container
                a(href="./index.html").logo
                    img.shadowfilter(src="../img/logo.png")
                div.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a(href="./index.html").active.nav-link  首页
                        li.nav-item
                            a(href="./downloads.html").nav-link  下载客户端
                        li.nav-item
                            a(href="./recharge.html").nav-link  充值
                div.user-links
                    a(href="#") 注册 / 登录

        block content

        footer
            div.container
                div.col-lg-8.offset-lg-2.text-center
                    p 版权声明：如果来函说明本网站提供内容系本人或法人版权所有。本网站在核实后，有权先行撤除，以保护版权拥有者的权益 邮箱地址：#[a(href="mailto:info@dnvod.tv") info@dnvod.tv] dnvod.tv版权所有。未经授权禁止链接、复制或建立
                    p Copyright 2008-2017 dnvod.tv All rights Reserved.
